.header-register{
    display: flex;
    background-color:var(--color-primario);
    color: var(--color-texto);
    font-family: var(--fuente-titulos);
    align-items: center;
    justify-content: space-between;
    padding: 24px 48px;
    box-sizing: border-box;

}

.logo-header{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 12px;
}

.logo-header img{
    width: 100px;
    height: 100px;
}

.nav-header{
    display: flex;
    align-items: center;
}

.nav-header a{
    font-weight: 600;
    margin-left: 20px;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
    text-decoration: none;  
    color: inherit;
}

a:hover{
    transform: scale(1.5);
    color: var(--color-secundario);
}

a:visited{
    text-decoration: none;  
}


